@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "FilmP3";
  src: url(../fonts/FilmP3Bold.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "TimesNewRoman";
  src: url(../fonts/TimesNewRomanPSMT.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "TimesNewRoman";
  src: url(../fonts/TimesNewRomanPS-BoldMT.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

body {
  background-color: #fffdee;
  color: #7a7a7a;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.amenities {
  padding-top: 32px;
  padding-bottom: 32px;
}

.amenities__title {
  font-family: "TimesNewRoman";
  font-weight: 400;
  font-size: 32px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #000000;

  margin-bottom: 16px;
}

.amenities__description {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7a7a7a;

  margin-bottom: 32px;
}

.amenities-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.amenities-list__title {
  font-family: "TimesNewRoman";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #000000;

  margin-bottom: 16px;
}

.amenities-list__wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7a7a7a;
}

.amenities__btn {
  min-width: 384px;
  height: 64px;

  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  background: #000000;
  border: 1px solid #f3c653;
  border-radius: 25px;

  margin-top: 32px;
}

.amenities-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.amenities-nav__link {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #c79002;
}

.amenities-nav__icon {
  margin-left: 12px;
  vertical-align: middle;
  fill: #c79002;
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: 47px;
    padding-right: 47px;
  }
  .amenities {
    padding-top: 48px;
    padding-bottom: 40px;
  }
  .amenities__description {
    width: 757px;
  }
  .amenities-list__wrap {
    gap: 80px;
    flex-wrap: nowrap;
  }
  .amenities-list__wrap-extra {
    gap: 30px;
  }
  .amenities-list__text {
    width: 400px;
  }
  .amenities-list__text-extra {
    width: 450px;
  }
  .amenities-nav {
    align-items: flex-end;
    justify-content: center;
    gap: 32px;
  }
  .amenities__btn {
    font-size: 24px;
    margin-top: 40px;
    min-width: 434px;
  }
  .amenities-nav__link {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 85px;
    padding-right: 199px;
  }
  .amenities {
    padding-bottom: 48px;
  }
  .amenities-list__wrap {
    gap: 159px;
  }
  .amenities-list__wrap-extra {
    gap: 64px;
  }
  .amenities-list__text-extra {
    width: 495px;
  }
}
