@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "FilmP3";
  src: url(../fonts/FilmP3Bold.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "TimesNewRoman";
  src: url(../fonts/TimesNewRomanPSMT.ttf);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "TimesNewRoman";
  src: url(../fonts/TimesNewRomanPS-BoldMT.ttf);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

body {
  color: #7a7a7a;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.container {
  max-width: 414px;
  margin: 0 auto;
  padding: 0 15px;
  /* border: solid palevioletred; */
}

.hero-mainpage__button {
  background-color: #000000;
  border: 2px solid #ffffff;
  border-radius: 25px;
  cursor: pointer;
  min-width: 236px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: #f3c653;
  padding: 14px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-mainpage__button:hover,
.hero-mainpage__button:focus {
  background-color: #ffffff;
  border: 2px solid #f3c653;
}

.rooms-section {
  background-color: #fffdee;
  padding-top: 32px;
  padding-bottom: 32px;
}

.rooms-section--reverse {
  background-color: #f0ecd6;
}

.rooms-wrap-top {
  margin-bottom: 32px;
}

.rooms-info__slogan {
  font-family: "Times New Roman";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #b4b4b4;
  margin-bottom: 8px;
}

.rooms-section:nth-child(2n) .rooms-info {
  margin-left: 67px;
}

.rooms-section:nth-child(2n) .rooms-info__slogan {
  text-align: end;
}

.rooms-info__logo {
  font-family: "FilmP3";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #494848;

  margin-bottom: 32px;
}

.rooms-section:nth-child(2n) .rooms-info__logo {
  text-align: end;
}

.rooms-info__title {
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #000000;
  text-transform: uppercase;

  margin-bottom: 12px;
}

.rooms-info__title__lowercase {
  text-transform: lowercase;
}

.rooms-info__text {
  max-width: 258px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #5f5f5f;
}

.rooms-wrap-top__img {
  display: block;
  margin-left: auto;
  background-color: #dadada;
  border-radius: 2px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}

.rooms-section:nth-child(2n) .rooms-wrap-top__img {
  margin-left: 0;
}

.rooms-btn-list {
  margin-top: 20px;
}

.hotel-room-btn {
  display: block;
  margin: 0 auto;
}

.rooms-btn-list:not(:last-child) {
  margin-bottom: 16px;
}

.hotel-room-btn__btn {
  display: block;
  margin: 0 auto;
}

.slider {
  width: 284px;
  height: 246px;
  border: solid palevioletred;
}

.rooms-section:nth-child(2n) .slider {
  margin-left: auto;
}

@media screen and (max-width: 1023px) {
  .rooms-info {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
  .rooms-list__item {
    padding-top: 62px;
    padding-bottom: 40px;
  }
  .rooms-info__text {
    max-width: 439px;
    font-size: 16px;
    margin-right: 26px;
  }
  .rooms-info__slogan {
    font-size: 32px;
    margin-bottom: 4px;
  }
  .rooms-info__logo {
    font-size: 64px;
    margin-bottom: 62px;
  }
  .rooms-info__title {
    font-size: 30px;
    margin-bottom: 16px;
  }
  .rooms-wrap-top__img {
    margin-top: -94px;
  }
  .rooms-wrap-top {
    margin-bottom: 48px;
    display: flex;
  }
  .rooms-section:nth-child(2n) .rooms-wrap-top {
    flex-direction: row-reverse;
  }
  .rooms-section:nth-child(2n) .rooms-wrap-bottom {
    flex-direction: row-reverse;
  }
  .rooms-section:nth-child(2n) .rooms-info {
    margin-left: 45px;
  }
  .rooms-section:nth-child(2n) .rooms-info__text {
    max-width: 400px;
  }
  .hotel-room-btn__btn {
    display: block;
    margin-left: auto;
  }
  .rooms-wrap-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .slider {
    width: 428px;
    height: 258px;
  }
  .rooms-btn-list {
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
  .rooms-info__title {
    font-size: 36px;
    margin-bottom: 24px;
  }
  .rooms-info__logo {
    font-size: 64px;
    margin-bottom: 72px;
  }
  .rooms-info__text {
    max-width: 400px;
    margin-right: 155px;
  }
  .slider {
    width: 548px;
    height: 327px;
  }
}
